@font-face {
  font-family: "Maple Mono NF CN";
  src: url("../assets/fonts/CONSOLA.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF CN Light";
  src: url("../assets/fonts/MAPLEMONO-NF-CN-THIN.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
